/**CUSTOM CSS STYLES START HERE**/
/*FONT SANSATION*/

@font-face {
    font-family: 'Sansation';
    src: url('../fonts/sansation/Sansation-BoldItalic.eot');
    src: url('../fonts/sansation/Sansation-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sansation/Sansation-BoldItalic.woff2') format('woff2'),
        url('../fonts/sansation/Sansation-BoldItalic.woff') format('woff'),
        url('../fonts/sansation/Sansation-BoldItalic.ttf') format('truetype'),
        url('../fonts/sansation/Sansation-BoldItalic.svg#Sansation-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Sansation';
    src: url('../fonts/sansation/Sansation-Regular.eot');
    src: url('../fonts/sansation/Sansation-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sansation/Sansation-Regular.woff2') format('woff2'),
        url('../fonts/sansation/Sansation-Regular.woff') format('woff'),
        url('../fonts/sansation/Sansation-Regular.ttf') format('truetype'),
        url('../fonts/sansation/Sansation-Regular.svg#Sansation-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sansation';
    src: url('../fonts/sansation/Sansation-LightItalic.eot');
    src: url('../fonts/sansation/Sansation-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sansation/Sansation-LightItalic.woff2') format('woff2'),
        url('../fonts/sansation/Sansation-LightItalic.woff') format('woff'),
        url('../fonts/sansation/Sansation-LightItalic.ttf') format('truetype'),
        url('../fonts/sansation/Sansation-LightItalic.svg#Sansation-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Sansation';
    src: url('../fonts/sansation/Sansation-Light.eot');
    src: url('../fonts/sansation/Sansation-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sansation/Sansation-Light.woff2') format('woff2'),
        url('../fonts/sansation/Sansation-Light.woff') format('woff'),
        url('../fonts/sansation/Sansation-Light.ttf') format('truetype'),
        url('../fonts/sansation/Sansation-Light.svg#Sansation-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sansation';
    src: url('../fonts/sansation/Sansation-Bold.eot');
    src: url('../fonts/sansation/Sansation-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sansation/Sansation-Bold.woff2') format('woff2'),
        url('../fonts/sansation/Sansation-Bold.woff') format('woff'),
        url('../fonts/sansation/Sansation-Bold.ttf') format('truetype'),
        url('../fonts/sansation/Sansation-Bold.svg#Sansation-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sansation';
    src: url('../fonts/sansation/Sansation-Italic.eot');
    src: url('../fonts/sansation/Sansation-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sansation/Sansation-Italic.woff2') format('woff2'),
        url('../fonts/sansation/Sansation-Italic.woff') format('woff'),
        url('../fonts/sansation/Sansation-Italic.ttf') format('truetype'),
        url('../fonts/sansation/Sansation-Italic.svg#Sansation-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

body, body .footer-contact{
    font-family: 'Sansation', sans-serif;
}
textarea, button, input[type=password], input[type=email], input[type=submit], input[type=text]{
    font-family: 'Sansation', sans-serif;
}
.page-styling h1, .page-styling h2, .page-styling h3, .page-styling h4, .page-styling h5, .page-styling h6{
    font-family: 'Sansation', sans-serif!important;
}
.modal-form h1, .modal-form h2, .modal-form h3, .modal-form h4, .modal-form h5, .modal-form h6{
    font-family: 'Sansation', sans-serif!important; 
}
.pricing-table .pricing-table-price{
    font-family: 'Sansation', sans-serif!important; 
}
/*HEADER*/
/*BUTTON*/
.getspec .getspec-more{
    padding: 15px;
    min-width: 200px;
}

.getspec .getspec-more{
    border: 1px solid;
    overflow: hidden;
    position: relative;
  }
  .getspec .getspec-more span {
    z-index: 20;
  }
  .getspec .getspec-more:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 1;
  }
  
  .getspec .getspec-more:hover:after {
    left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
/*INFO BLOCK*/
.infoBlock .getspec .getspec-cont h3{
    font-size: 40px;
}
.infoBlock .getspec .getspec-cont p{
    font-size: 35px;
}
/*FOOTER*/
.footerQI .iconbox-i{
    margin-bottom: 0;
}
.footerQI .iconbox-i h3{
    margin-bottom: 8px;
    font-weight: 400;
}
.footerQI .iconbox-i .iconbox-i-img{
    width: 30px;
    height: 30px;
    line-height: 30px
}
.footerQI .vc_wp_custommenu_dark .widget .widgettitle,.footerQI .vc_wp_custommenu_light .widget .widgettitle{
    color: #9c9c9c
}
.footRights .vc_column_container>.vc_column-inner{
    padding-top: 0!important
}
.footRights .wpb_content_element{
    margin-bottom: 0
}